on: [push, workflow_dispatch]
jobs:
  lint:
    uses: 19stephan93/dyno/.github/workflows/lint.yml@main

  test:
    runs-on: ubuntu-latest
    container:
      # https://github.com/19stephan93/dyno
      image: ghcr.io/19stephan93/dyno:main
    steps:
    - uses: actions/checkout@v4
    - run: /app/test/test.sh

  cicd:
    uses: 19stephan93/cicd/.github/workflows/cicd.yml@main
    secrets:
      NOMAD_TOKEN: ${{ secrets.NOMAD_TOKEN }}
    needs: [lint, test]

  image-test:
    runs-on: ubuntu-latest
    needs: [cicd]
    container:
      # test using the just built-and-pushed docker image from the [cicd] job above
      image: 'docker://ghcr.io/${{ github.repository }}:${{ github.ref_name }}'
    steps:
    - run: fgrep 'hello js' /app/index.js
